body {
  padding: 0px;
  margin: 0px;
  background-color: #C8C8A1;
}

.footer-indigo {
  background-color: #414141;
}

.menu-content {
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-block img {
  max-width: 200px;
  min-height: 45px;
}

.menu-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-navigation ul li {
  list-style-type: none;
  color: #E6E7E7;
}

.menu-navigation ul li a:hover {
  color: #FF151F;
  cursor: pointer;
}

.social-block {
  width: 100%;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-block ul {
  margin: 0px;
}

.social-block i {
  font-size: 16px;
  color: #FAFFFF;
}

.social-block i:hover {
  color: #FF151F;
  cursor: pointer;
}

.fa-youtube {
  margin: 0px 30px 0px 30px;
}

.custom-btn-contact {
  background-color: #FAFFFF !important;
  color: #FF151F !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-btn-contact:hover {
  background-color: #FF151F !important;
  color: #FAFFFF !important;
}

.location-block p {
  font-size: 13px;
  color: #E0E0E0;
}

.location-block p i {
  color: #FF151F;
  margin-right: 5px;
}

.contact-block p {
  font-size: 13px;
  color: #E0E0E0;
}

.contact-block p i {
  color: #FF151F;
  margin-right: 5px;
}

.footer-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info-block p {
  font-size: 11px;
  color: #9B9B9B;
}

.footer-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-map-site {
  margin-right: 3px;
}

.footer-policy-conditality::before {
  content: '|';
  margin-right: 3px;
}

@media (max-width: 992px) {
  .footer-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-navigation {
    margin: 0 auto;
  }
  .menu-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-block {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .footer-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-navigation {
    margin: 0 auto;
  }
  .menu-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-block {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */