body {
  padding: 0px;
  margin: 0px;
  background-color: #C8C8A1;
}

.footer-indigo {
  background-color: #414141;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

.logo-block {
  margin: 25px 0px 25px 0px;
}

.logo-block img {
  max-width: 200px;
  min-height: 45px;
}

.custom-nav-link {
  display: block;
  padding: 35px 80px 0px 0px;
  font-size: 17px;
}

.menu-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-navigation ul li {
  list-style-type: none;
  color: #E6E7E7;
}

.menu-navigation ul li a:hover {
  color: #A3A3A3;
  cursor: pointer;
}

.social-block {
  width: 100%;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-block ul {
  margin: 0px;
}

.social-block i {
  font-size: 16px;
  color: #FAFFFF;
}

.social-block i:hover {
  color: #FF151F;
  cursor: pointer;
}

.fa-youtube {
  margin: 0px 30px 0px 30px;
}

.custom-btn-contact {
  background-color: #FAFFFF !important;
  color: #FF151F !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-btn-contact:hover {
  background-color: #FF151F !important;
  color: #FAFFFF !important;
}

.location-block p {
  font-size: 13px;
  color: #E0E0E0;
}

.location-block p i {
  color: #FF151F;
  margin-right: 5px;
}

.contact-block p {
  font-size: 13px;
  color: #E0E0E0;
}

.contact-block p i {
  color: #FF151F;
  margin-right: 5px;
}

.footer-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info-block p {
  font-size: 11px;
  color: #9B9B9B;
}

.footer-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-map-site {
  margin-right: 3px;
}

.footer-policy-conditality::before {
  content: '|';
  margin-right: 3px;
}

@media (max-width: 1200px) {
  .custom-nav-link {
    display: block;
    padding: 20px 58px 20px 0px;
    font-size: 16px;
  }
  .btn {
    font-size: 10px !important;
    padding: 12px !important;
  }
}

@media (max-width: 992px) {
  .footer-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-navigation {
    margin: 0 auto;
  }
  .menu-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .location-block p {
    font-size: 12px;
    color: #E0E0E0;
  }
  .location-block p i {
    color: #FF151F;
    margin-right: 5px;
  }
  .contact-block p {
    font-size: 12px;
    color: #E0E0E0;
  }
  .contact-block i {
    color: #FF151F;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .footer-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .menu-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .custom-nav-link {
    padding: 20px 40px 20px 70px;
  }
  .logo-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */